{% extends "jiong_base.html" %}

{% block link %}
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="container">
        {% for post in page.object_list %}
            <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.glance_content }}</p>
                    <hr/>
                </div>
            </div>
        {% endfor %}
        <div class="pages">
            <ul class="pagination pagination-lg">
                {% for num in page.page_range %}
                    {% if num %}
                        <li><a href="{{ base_url }}?page={{ num }}">{{ num }}</a></li>
                    {% else %}
                        <li><a href="#" class="disabled">...</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}