{% extends "jiong_base.html" %}
{% block title %}
    {{ post.title }} | 吖囧 | 吖囧笑话段子囧糗事集中营 | {{ post.get_keywords }}
{% endblock %}

{% block meta %}
    <meta name="title" content="{{ post.title }} | 吖囧 | 吖囧笑话段子囧糗事集中营 | {{ post.get_keywords }} ">
    <meta name="keywords" content="{{ post.get_keywords }}">
    <meta name="description" content="{{ post.glance_content }}">
{% endblock %}

{% block link %}
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
                <h3>{{ post.title }}</h3>
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
                <hr/>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
                    <div class="container ds-thread" data-thread-key="post-{{ post.id }}" data-title="{{ post.title }}" data-url="{{ post.get_absolute_url }}"></div>
            </div>
        </div>
    </div>

    <!-- 多说评论框 start -->
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"yajiong"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->

{% endblock %}